doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Cloudflare
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/bundle.min.js')
  body
    .container
      img(src='/logo.png' width='300px')
      p.rayid Ray ID: #{prefix}-#{difficulty}
      table
        tr.calculating
          td.w-full 浏览器环境安全检查中
          td.w30.blink ...
        tr.submitting
          td.w-full 系统评分提交中
          td.blink ...
        tr.success
          td.w-full 重定向中
          td.blink ...
        tr.failed
          td.w-full 失败，重试中
          td.blink ...
    script(src='/javascripts/main.min.js')
    script.
      window.onload = init(#{difficulty}, "#{prefix}", "#{redirect}")